Service.Web/Service References/ServiceReference1/Service.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHaber">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Haber" nillable="true" type="tns:Haber" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHaber" nillable="true" type="tns:ArrayOfHaber" />
  <xs:complexType name="Haber">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pubdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Haber" nillable="true" type="tns:Haber" />
</xs:schema>